# Ignore IntelliJ IDEA project-specific files
*.iml
.idea/

# Ignore all 'out' directories
out/

# Ignore other typical build outputs and dependencies
*.class
*.jar
*.war
*.ear

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db